In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()
import datetime
import math

In [2]:
##Reading in file
census = pd.read_csv('../Mongoose Modeling/Updated Census.csv')

##Extracting Relevant Columns
census = census.rename(columns = {'Latitude ':'Latitude'})
#census = pd.DataFrame(census, columns = ['Date','Troop','Latitude','Longitude','Troop Number','Complete Count?'])
census = census.dropna(subset=['Date','Troop'])

##Fixing troop name inconsistencies
census['Troop'] = census['Troop'].replace(['Old Park Gate','Old Park gate'],'OPG')
census['Troop'] = census['Troop'].replace(['Watercart','WCEast','Watercut East','WCEST'],'WCE')
census['Troop'] = census['Troop'].replace(['Watercut West','WCWST','WCWst'],'WCW')
census['Troop'] = census['Troop'].replace(['safari lodge ','CSL ','Chobe Safari Lodge','Safari lodge','CLS','SCSL'],'CSL')
census['Troop'] = census['Troop'].replace(['Mowana car park','Mowana','mowana lodge'],'MOW')
census['Troop'] = census['Troop'].replace(['Serondella'],'SER')
census['Troop'] = census['Troop'].replace(['BBD/Serondella'],'BBD/SER')
census['Troop'] = census['Troop'].replace(['Kalweeze'],'KAL')
census['Troop'] = census['Troop'].replace(['Game Lodge','Chobe Game Lodge','CGK'],'CGL')
census['Troop'] = census['Troop'].replace(['Savas stores'],'SAV')
census['Troop'] = census['Troop'].replace(['Chobe Farm troop','UNK (Chobe Farms?)'],'FARM')
census['Troop'] = census['Troop'].replace(['marina','marina lodge','marina lodge ',],'CML')
census['Troop'] = census['Troop'].replace(['forestry','forestry ','FOR '],'FOR')
census['Troop'] = census['Troop'].replace(['Hippo Pools'],'HIPP')
census['Troop'] = census['Troop'].replace(['Water Affairs'],'WA')
census['Troop'] = census['Troop'].replace(['Kubu','Kubu lodge'],'KUBU')
census['Troop'] = census['Troop'].replace(['Dump'],'DUMP')
census['Troop'] = census['Troop'].replace(['Safari Lodge'],'CSL')
census['Troop'] = census['Troop'].replace(['Sefalana'],'SEF')
census['Troop'] = census['Troop'].replace(['Unk','unknown','Unknown','UNKOWNN'],'UNK')
census['Troop'] = census['Troop'].replace(['Kaz','Kazungula Industrial','Kazungula Border'],'KAZ')
census['Troop'] = census['Troop'].replace(['Sedudu Gate','Park Gate Sedudu','Gate Troop'],'SDGT')
census['Troop'] = census['Troop'].replace(['Thebe River lodge'],'TBE')
census['Troop'] = census['Troop'].replace(['Chobe Chilwero'],'CCH')
census['Troop'] = census['Troop'].replace(['Lesoma'],'LES')
census['Troop'] = census['Troop'].replace(['Charlotte'],'CHAR')
census['Troop'] = census['Troop'].replace(['Sewage Ponds'],'SEW')
census['Troop'] = census['Troop'].replace(['Individual "Nubbins"','Nubbins'],'NUB')
census['Troop'] = census['Troop'].replace(['UNK (Plateau)','UNK PLAT','Plat'],'PLAT')
census['Troop'] = census['Troop'].replace(['Plateau/Wildlife'],'PLAT/WDL')
census['Troop'] = census['Troop'].replace(['Bridgetown'],'BRT')
census['Troop'] = census['Troop'].replace(['Kwalape','KwA'],'KWA')
census['Troop'] = census['Troop'].replace(['WILD'],'WDL')
census['Troop'] = census['Troop'].replace(['?PARK','PARKTROOP','UNK (park)','UNKpark'],'PARK')
census['Troop'] = census['Troop'].replace(['Tawana'],'TWA')
census['Troop'] = census['Troop'].replace(['WPLAT-WA'],'WPLAT/WA')
census['Troop'] = census['Troop'].replace(['Old House'],'ODH')
census['Troop'] = census['Troop'].replace(['hospital'],'HOS')
census['Troop'] = census['Troop'].replace(['CSL-CHAR'],'CSL/CHAR')
census['Troop'] = census['Troop'].replace(['SEF/THEBE'],'SEF/TBE')
census['Troop'] = census['Troop'].replace(['WPLA'],'WPLAT')

census = census[census.Troop != '0']
census = census[census.Troop != 'Hatab8']
census = census[census.Troop != 'Center/Wildlife?']
census = census[census.Troop != '?']

census.head()

,Unnamed: 0,Observation ID,Date,Time,Troop,Observers,Location,Latitude,Longitude,Rain Type,...,Mix,Troop Name,Split,Columna1,Columna2,Columna3,AM/PM,Time up,Not seen,Columna4
1,NaN,OPG130600,6/13/2000,NaN,OPG,NaN,NaN,-17.8258,25.1358,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,OPG290600,6/29/2000,NaN,OPG,NaN,NaN,-17.8253,25.1319,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,OPG070700,7/7/2000,NaN,OPG,NaN,NaN,-17.8253,25.1319,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,OPG100700,7/10/2000,NaN,OPG,NaN,NaN,-17.8253,25.1319,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,OPG130800,8/13/2000,NaN,OPG,NaN,NaN,-17.8253,25.1319,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
##Removing empty counts and fixing non-numeric entries

census['Troop Number'] = census['Troop Number'].replace(['22+1 ','14+9'],23)
census['Troop Number'] = census['Troop Number'].replace(['24+6','30+'],30)
census['Troop Number'] = census['Troop Number'].replace(['20+7'],27)
census['Troop Number'] = census['Troop Number'].replace(['22+15'],37)
census['Troop Number'] = census['Troop Number'].replace(['17+8'],25)
census['Troop Number'] = census['Troop Number'].replace(['36+4','28+12','39+1'],40)
census['Troop Number'] = census['Troop Number'].replace(['15+7'],22)
census['Troop Number'] = census['Troop Number'].replace(['23+13'],36)
census['Troop Number'] = census['Troop Number'].replace(['40+1'],41)
census['Troop Number'] = census['Troop Number'].replace(['30+5'],35)
census['Troop Number'] = census['Troop Number'].replace(['34+32'],66)
census['Troop Number'] = census['Troop Number'].replace(['51+6'],57)
census['Troop Number'] = census['Troop Number'].replace(['48+'],48)
census['Troop Number'] = census['Troop Number'].replace(['~10'],10)
census['Troop Number'] = census['Troop Number'].replace(['7+1'],8)
census['Troop Number'] = census['Troop Number'].replace(['29+'],29)
census['Troop Number'] = census['Troop Number'].replace(['13+5','12+6'],18)
census['Troop Number'] = census['Troop Number'].replace(['12+2'],14)
census['Troop Number'] = census['Troop Number'].replace(['12+7','7+12','14+5'],19)
census['Troop Number'] = census['Troop Number'].replace(['12+'],12)
census['Troop Number'] = census['Troop Number'].replace(['19+5'],24)
census['Troop Number'] = census['Troop Number'].replace(['13+3'],16)
census['Troop Number'] = census['Troop Number'].replace(['9+2','8+3'],11)
census['Troop Number'] = census['Troop Number'].replace(['8+13'],21)

census = census.dropna(subset=['Troop Number'])

census = census[census["Troop Number"] != 'No count']
census = census[census["Troop Number"] != '-']
census = census[census["Troop Number"] != 'not seen']
census = census[census["Troop Number"] != '?']
census = census[census["Troop Number"] != 'not seen ']
census = census[census["Troop Number"] != 'Unable to determine']
census = census[census["Troop Number"] != 'Unk']
census = census[census["Troop Number"] != 'Lots']

census['Troop Number'] = pd.to_numeric(census["Troop Number"])

In [4]:
census.Troop.unique()

array(['OPG', 'MOW', 'CGL', 'SAV', 'WCE', 'CSL', 'HOS', 'CML', 'FOR',
       'NPG', 'CCH', 'BBD', 'UNK', 'HIPP', 'KUBU', 'WA', 'SEF', 'DUMP',
       'KAZ', 'WCW', 'SDGT', 'FARM', 'TBE', 'CSL/CHAR', 'LES', 'CHAR',
       'SEW', 'SEF/TBE', 'THEBE', 'NUB', 'MOGO', 'PARK', 'SDRF', 'PLAT',
       'PLAT/WDL', 'BRT', 'WA/MOGO', 'KWA', 'WDL', 'LIB', 'WPLAT', 'TWA',
       'WPLAT/WA', 'KUBU/KWA', 'WA/WPLAT', 'ODH', 'WA/PLAT', 'PLAT/WPLAT',
       'WPLAT/PLAT', 'ODH/PLAT', 'PLAT/LIB'], dtype=object)

In [5]:
census.Troop.nunique()

51

In [6]:
census['Troop Number'].unique()

array([ 2,  1,  8, 35, 13, 32, 12, 20, 29, 25, 14, 37, 39, 46, 41, 47, 49,
       45, 53, 27, 52, 23, 44, 55, 17, 15, 10, 34, 11, 18, 19, 28,  5, 30,
       22, 21,  7, 36, 40, 24, 16, 26,  9,  3, 33, 38,  4,  0, 56, 67, 66,
       48, 57, 31, 58,  6, 42, 50, 51, 43, 54], dtype=int64)

In [7]:
census = census.rename(columns = {'Troop Number':'Count'})
census.head()

,Unnamed: 0,Observation ID,Date,Time,Troop,Observers,Location,Latitude,Longitude,Rain Type,...,Mix,Troop Name,Split,Columna1,Columna2,Columna3,AM/PM,Time up,Not seen,Columna4
1,NaN,OPG130600,6/13/2000,NaN,OPG,NaN,NaN,-17.8258,25.1358,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,OPG290600,6/29/2000,NaN,OPG,NaN,NaN,-17.8253,25.1319,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,MCP110900,9/11/2000,NaN,MOW,NaN,NaN,-17.7817,25.1589,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,CGL130900,9/13/2000,NaN,CGL,NaN,NaN,-17.84,25.0756,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,OPG150900,9/15/2000,NaN,OPG,NaN,NaN,-17.8258,25.1317,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
cen2 = pd.read_csv('../Mongoose Modeling/active_data.csv',encoding = "ISO-8859-1")
cen2['Troop'] = cen2['Troop'].replace(['Kubu'],'KUBU')
cen2.head()

,Observation ID,Date,Time,Troop,Observers,Location,Latitude,Longitude,Rain Type,Temperature,...,Mix,Split,#Dispersal M,#Disperse F,Troop Name,See troop notes,AM/PM,Time up,Not seen,Comments
0,CCH020718,2-Jul-18,8:14,CCH,LS,Lawn in front of guest dining at CCH,-17.82767,25.13674,No Rain,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sunbathing. Ad with right red and orange ear t...
1,KUBU020718,2-Jul-18,16:30,KUBU,"LS, SD",Under pool deck of River View Lodge,-17.79373,25.23250,No Rain,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Feces not solid. RC seen. Ad w/ left brown? (...
2,KWA030718,3-Jul-18,8:50,KWA,"LS, RK",Woodpile behind guest chalet #37 and #38 at Kw...,-17.79862,25.21674,No Rain,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Both RC seen. Other RC with right grey. Ad. w...
3,CCH030718,3-Jul-18,16:40,CCH,"LS, KV",Under water containers by CCH trash area,-17.82771,25.13796,No Rain,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LS and KV trying to capture sick/dying individ...
4,KWA040718,4-Jul-18,8:05,KWA,LS,Tool shed building next to staff kitchen and t...,-17.79818,25.21785,No Rain,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RC seen. w/ right green ear tag? (dirty) no le...

In [9]:
##Check that the columns in cen2 (from active_data.csv) that aren't in census data are not currently necessary columns
##i.e. check that these columns are safe to drop
    ##These aren't necessary columns for now because there aren't even six months of data with these new columns yet

set(census.columns).symmetric_difference(cen2.columns).intersection(cen2.columns)

{'#Dispersal M',
 '#Disperse F',
 'Confidence',
 'Group extinction',
 'Pregnant stage',
 'See troop notes',
 'Sick/Complete count (Y/N)'}

In [10]:
cen1_col = list(census.columns)
cen2_col = list(cen2.columns)

good_col = list(set(cen1_col).intersection(cen2_col))

cen2 = pd.DataFrame(cen2 , columns= good_col)

In [11]:
cen2.columns

Index(['Rain Type', 'Complete Count?', 'Mix', 'Split', 'Latitude', 'AM/PM',
       'Identifiable Individuals', 'Wind', 'Land Use',
       'Description of Injuries', 'Count', 'Cloud Cover', 'Troop Name', 'Date',
       'Anal Gland Secr.', 'Observers', 'Illness Rank', 'Longitude',
       'Number juveniles/ Sub-Adults', '# Pregnant', 'Number injured',
       'Time up', 'Temperature', 'Not seen', 'Number sick', '# Pups',
       'Description of Signs', 'Group Spread', 'Time', '# Feces', 'Urine',
       'Comments', 'Troop', 'Wilderness', 'Feces', 'Park Habitat',
       'Observation ID', 'Den Type', 'Location'],
      dtype='object')

In [12]:
census = pd.concat([census,cen2],ignore_index=True,join_axes=[census.columns])
census.head()

,Unnamed: 0,Observation ID,Date,Time,Troop,Observers,Location,Latitude,Longitude,Rain Type,...,Mix,Troop Name,Split,Columna1,Columna2,Columna3,AM/PM,Time up,Not seen,Columna4
0,NaN,OPG130600,6/13/2000,NaN,OPG,NaN,NaN,-17.8258,25.1358,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,OPG290600,6/29/2000,NaN,OPG,NaN,NaN,-17.8253,25.1319,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,MCP110900,9/11/2000,NaN,MOW,NaN,NaN,-17.7817,25.1589,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,CGL130900,9/13/2000,NaN,CGL,NaN,NaN,-17.84,25.0756,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,OPG150900,9/15/2000,NaN,OPG,NaN,NaN,-17.8258,25.1317,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
census.Count.unique()

array([2, 1, 8, 35, 13, 32, 12, 20, 29, 25, 14, 37, 39, 46, 41, 47, 49, 45,
       53, 27, 52, 23, 44, 55, 17, 15, 10, 34, 11, 18, 19, 28, 5, 30, 22,
       21, 7, 36, 40, 24, 16, 26, 9, 3, 33, 38, 4, 0, 56, 67, 66, 48, 57,
       31, 58, 6, 42, 50, 51, 43, 54, '31', '40', '16', '10', '19', '12',
       '35', '3', '21', '32', '14', '22', '26', '30', '29', '11', '18',
       'Not seen but strong signal', '17', '23', '4', '9', '13', '25',
       '15', '20', '6', '2', '5', '28', '1', '8', '38', 'Not seen, in den',
       'Not seen', '7', '36', '27', '24', '34', 'No signal',
       'Not seen, faint signal', 'Not found', nan, 'Not found fade signal'], dtype=object)

In [27]:
census['Count'] = census['Count'].replace(['Not seen but strong signal'],999)
census['Count'] = census['Count'].replace(['Not seen, in den'],999)
census['Count'] = census['Count'].replace(['Not seen'],999)
census['Count'] = census['Count'].replace(['No signal'],999)
census['Count'] = census['Count'].replace(['Not seen, faint signal'],999)
census['Count'] = census['Count'].replace(['Not found'],999)
census['Count'] = census['Count'].replace(['Not found fade signal'],999)


census['Count'] = pd.to_numeric(census.Count)
census = census[census.Count!=999]
len(census.loc[census.Count >=0])
census.Count.unique()

array([ 10.,  17.,  21.,  23.,  30.,  20.,  26.,  14.,  24.,  19.,   4.,
        16.,  25.,  27.,  18.,  15.,   5.,   9.,  12.,  11.,  13.,   8.,
         3.,   2.,   7.,   1.,  38.,  33.,  22.,   6.,  35.,  29.,  46.,
        48.,  54.,  32.,  31.,  34.,  44.,  40.,  37.,  36.,   0.,  39.,
        41.,  45.,  28.,  56.,  67.,  66.,  57.,  58.,  55.,  49.,  42.,
        47.,  50.,  43.,  53.,  nan,  52.,  51.])

In [16]:
##Converting date column in census to 'readable' dates
census['Date'] = pd.to_datetime(census['Date'])
census = census.sort_values(['Troop','Date'], ascending = [True,True])

##Removing troops with less than 6 observations
for i in census.Troop.unique():
    wd = census.loc[census.Troop == i]
    if len(wd)< 6:
        census = census.loc[census.Troop != i]
census = census.reset_index(drop = True)
census.Troop.unique()

array(['CCH', 'CGL', 'CSL', 'DUMP', 'FARM', 'FOR', 'KAZ', 'KUBU',
       'KUBU/KWA', 'KWA', 'LIB', 'MOGO', 'MOW', 'ODH', 'OPG', 'PAN',
       'PARK', 'PLAT', 'PLAT/LIB', 'SDGT', 'SDRF', 'SEF', 'TBE', 'UNK',
       'WA', 'WA/WPLAT', 'WCE', 'WCW', 'WDL', 'WPLAT', 'WPLAT/PLAT'], dtype=object)

In [17]:
census['ObsYear'] = census.Date.apply(lambda x: x.year)
census['ObsMonth'] = census.Date.apply(lambda x: x.month)

In [18]:
sig_data = census.groupby(['Troop','ObsYear'])
sig_data.get_group(('CCH',2012))

,Unnamed: 0,Observation ID,Date,Time,Troop,Observers,Location,Latitude,Longitude,Rain Type,...,Split,Columna1,Columna2,Columna3,AM/PM,Time up,Not seen,Columna4,ObsYear,ObsMonth
1,ok,CCH060212,2012-02-06,NaN,CCH,ROB,Lodge entrance,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012,2
2,ok,CCH090212,2012-02-09,NaN,CCH,ROB,Chilwero service area,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012,2
3,ok,CCH160312,2012-03-16,NaN,CCH,ROB,Main lawn of lodge,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012,3
4,ok,CCH260312,2012-03-26,NaN,CCH,MARIA,Lodge,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,AM,NaN,NaN,NaN,2012,3
5,ok,CCH300412,2012-04-30,NaN,CCH,ROB,Lodge service area,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,AM,NaN,NaN,NaN,2012,4
6,ok,CCH100512,2012-05-10,NaN,CCH,ROB/MARIA,Lodge service area,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,AM,NaN,NaN,NaN,2012,5
7,ok,CCH010612,2012-06-01,NaN,CCH,ROB,Main lawn of lodge,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,AM,NaN,NaN,NaN,2012,6
8,ok,CCH110612,2012-06-11,7:40,CCH,ROB,Lodge service area,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,AM,NaN,NaN,NaN,2012,6
9,ok,CCH220612,2012-06-22,7:35,CCH,CLAIRE,Under blue container near mechanics workshop,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,AM,NaN,NaN,NaN,2012,6
10,NaN,CCH030912,2012-09-03,NaN,CCH,Rob,Lodge service area,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,PM,NaN,NaN,NaN,2012,9
11,NaN,CCH100912,2012-09-10,7:25,CCH,Rob,Lodge service area,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,AM,NaN,NaN,NaN,2012,9
12,NaN,CCH121012,2012-10-12,NaN,CCH,Rob,Lodge service area,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,AM,NaN,NaN,NaN,2012,10
13,NaN,CCH301012,2012-10-30,NaN,CCH,Rob,Lodge service area,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,AM,NaN,NaN,NaN,2012,10
14,NaN,CCH071112,2012-11-07,NaN,CCH,Rob,"Outside lodge, service area",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,AM,NaN,NaN,NaN,2012,11
15,NaN,CCH221112,2012-11-22,NaN,CCH,Rob,Lodge lawn,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,AM,NaN,NaN,NaN,2012,11
16,NaN,CCH281112,2012-11-28,NaN,CCH,Rob,Lodge service area,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,AM,NaN,NaN,NaN,2012,11

In [19]:
for i in census.Troop.unique():
    for j in census.loc[census.Troop == i].ObsYear.unique():
        print('Troop: '+str(i))
        print('Year: '+str(j))
        print(list(sig_data.get_group((str(i),j)).ObsMonth.unique()))

Troop: CCH
Year: 2011
[12]
Troop: CCH
Year: 2012
[2, 3, 4, 5, 6, 9, 10, 11]
Troop: CCH
Year: 2013
[1, 2, 5, 9, 10, 11, 12]
Troop: CCH
Year: 2014
[1, 2, 10]
Troop: CCH
Year: 2015
[7, 8, 10, 11, 12]
Troop: CCH
Year: 2016
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12]
Troop: CCH
Year: 2017
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
Troop: CCH
Year: 2018
[1, 2, 3, 7, 8, 9, 10, 11]
Troop: CGL
Year: 2000
[9]
Troop: CGL
Year: 2011
[12]
Troop: CGL
Year: 2012
[2, 4, 5, 6, 7, 8, 9, 10, 11]
Troop: CGL
Year: 2013
[2, 4, 5, 6, 9, 10, 11, 12]
Troop: CGL
Year: 2014
[1, 2]
Troop: CGL
Year: 2015
[6, 9]
Troop: CGL
Year: 2016
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12]
Troop: CGL
Year: 2017
[1, 3, 4, 5, 6, 7, 8, 10, 11, 12]
Troop: CGL
Year: 2018
[1, 2, 3, 10]
Troop: CSL
Year: 2004
[1, 2]
Troop: CSL
Year: 2011
[3, 12]
Troop: CSL
Year: 2012
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
Troop: CSL
Year: 2013
[1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12]
Troop: CSL
Year: 2014
[1, 2, 5, 6, 8, 9, 10]
Troop: CSL
Year: 2015
[5, 6, 7, 8, 9]
Troop: CSL
Year: 2016
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12]
Troop: CSL
Year: 2017
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
Troop: CSL
Year: 2018
[1, 3, 7, 8, 9, 10, 12]
Troop: DUMP
Year: 2012
[10, 11]
Troop: DUMP
Year: 2016
[2, 4, 5, 6, 7, 9, 10, 12]
Troop: DUMP
Year: 2017
[1]
Troop: FARM
Year: 2013
[9, 10, 11, 12]
Troop: FARM
Year: 2014
[1, 2, 5, 8, 11]
Troop: FARM
Year: 2015
[12]
Troop: FARM
Year: 2016
[6]
Troop: FARM
Year: 2017
[4, 5, 6, 8]
Troop: FOR
Year: 2004
[2]
Troop: FOR
Year: 2015
[6, 7, 8, 9, 10]
Troop: FOR
Year: 2016
[1, 2, 3, 4, 5, 6, 7, 8, 12]
Troop: FOR
Year: 2017
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
Troop: FOR
Year: 2018
[1, 2, 4, 7, 8, 9, 10, 11, 12]
Troop: KAZ
Year: 2013
[4, 9]
Troop: KAZ
Year: 2015
[8, 12]
Troop: KAZ
Year: 2016
[1]
Troop: KUBU
Year: 2012
[1, 3, 5, 8, 10, 11]
Troop: KUBU
Year: 2013
[1, 2, 4, 5, 9, 10, 11, 12]
Troop: KUBU
Year: 2014
[2, 5, 10]
Troop: KUBU
Year: 2015
[6, 7, 8, 10, 11, 12]
Troop: KUBU
Year: 2016
[1, 2, 3, 4, 6, 7, 9]
Troop: KUBU
Year: 2017
[1, 2, 4, 5, 6, 9, 10, 11, 12]
Troop: KUBU
Year: 2018
[1, 2, 3, 7, 8, 9, 10]
Troop: KUBU/KWA
Year: 2017
[6, 7, 8, 9]
Troop: KWA
Year: 2016
[6, 9, 10, 12]
Troop: KWA
Year: 2017
[1, 2, 3, 4, 5]
Troop: KWA
Year: 2018
[3, 7, 8, 9, 10, 11]
Troop: LIB
Year: 2017
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
Troop: LIB
Year: 2018
[1]
Troop: MOGO
Year: 2016
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12]
Troop: MOGO
Year: 2017
[1, 2]
Troop: MOW
Year: 2000
[9]
Troop: MOW
Year: 2004
[2]
Troop: MOW
Year: 2011
[1, 12]
Troop: MOW
Year: 2012
[1, 2, 5, 6, 7, 8, 9]
Troop: MOW
Year: 2013
[1, 3, 9, 10, 11]
Troop: MOW
Year: 2014
[8]
Troop: MOW
Year: 2015
[6, 7, 8, 9, 10, 12]
Troop: MOW
Year: 2016
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12]
Troop: MOW
Year: 2017
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
Troop: MOW
Year: 2018
[1, 2, 3, 7, 8, 9, 10, 11]
Troop: ODH
Year: 2017
[9, 10, 11, 12]
Troop: ODH
Year: 2018
[1, 2, 3, 7, 8, 9, 10]
Troop: OPG
Year: 2000
[6, 9, 10]
Troop: OPG
Year: 2003
[3]
Troop: OPG
Year: 2011
[12]
Troop: OPG
Year: 2012
[4]
Troop: PAN
Year: 2018
[7, 8, 9, 10, 11, 12]
Troop: PARK
Year: 2016
[2, 3, 4]
Troop: PARK
Year: 2017
[4, 10]
Troop: PARK
Year: 2018
[1]
Troop: PLAT
Year: 2016
[3, 4, 6, 7, 10, 12]
Troop: PLAT
Year: 2017
[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12]
Troop: PLAT
Year: 2018
[1, 3, 7, 8, 9, 10, 11, 12]
Troop: PLAT/LIB
Year: 2018
[1, 2, 3]
Troop: SDGT
Year: 2013
[9, 10]
Troop: SDGT
Year: 2015
[6]
Troop: SDGT
Year: 2017
[4]
Troop: SDRF
Year: 2016
[2, 3, 4, 5, 6, 7, 8, 9, 12]
Troop: SDRF
Year: 2017
[3]
Troop: SEF
Year: 2012
[1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12]
Troop: SEF
Year: 2013
[1, 2, 4, 5, 9, 10]
Troop: SEF
Year: 2014
[1, 8]
Troop: SEF
Year: 2015
[5, 6, 7, 8, 9, 10, 11]
Troop: SEF
Year: 2016
[1, 2, 3, 4, 6, 7, 8, 9, 10, 12]
Troop: SEF
Year: 2017
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
Troop: SEF
Year: 2018
[1, 2, 3]
Troop: TBE
Year: 2013
[9, 10, 11, 12]
Troop: TBE
Year: 2014
[1, 8]
Troop: TBE
Year: 2018
[7, 8, 9, 10, 11]
Troop: UNK
Year: 2011
[12]
Troop: UNK
Year: 2012
[1, 6]
Troop: UNK
Year: 2013
[4]
Troop: UNK
Year: 2014
[8]
Troop: UNK
Year: 2015
[11, 12]
Troop: UNK
Year: 2016
[1, 4, 6, 7]
Troop: UNK
Year: 2017
[3]
Troop: UNK
Year: 2018
[2, 7, 8, 9, 11]
Troop: WA
Year: 2012
[1, 2, 3, 5, 8, 9, 10, 11, 12]
Troop: WA
Year: 2013
[1, 2, 3, 5, 9, 10, 11, 12]
Troop: WA
Year: 2014
[1, 2]
Troop: WA
Year: 2015
[3, 6, 7, 8, 10, 11, 12]
Troop: WA
Year: 2016
[1, 2, 3, 4, 5, 6, 7, 9, 10, 12]
Troop: WA
Year: 2017
[1, 5, 6, 10, 11, 12]
Troop: WA
Year: 2018
[1]
Troop: WA/WPLAT
Year: 2017
[6, 7, 8, 9]
Troop: WCE
Year: 2000
[9]
Troop: WCE
Year: 2013
[9, 11, 12]
Troop: WCE
Year: 2014
[1, 2]
Troop: WCE
Year: 2016
[1, 5, 8, 12]
Troop: WCE
Year: 2017
[1, 3]
Troop: WCW
Year: 2013
[9, 12]
Troop: WCW
Year: 2016
[1, 3, 4, 5, 7, 9, 10, 12]
Troop: WDL
Year: 2008
[7]
Troop: WDL
Year: 2016
[9]
Troop: WDL
Year: 2017
[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
Troop: WDL
Year: 2018
[1, 2, 3, 7, 8]
Troop: WPLAT
Year: 2017
[1, 4, 5, 6, 9]
Troop: WPLAT/PLAT
Year: 2017
[10, 11]

# Cleaning Data by Function

In [20]:
##Input a troop name to find consecutive (at least 6 months) data
##Will return a dataframe with months to keep (Keep = 1) and months to discard (Keep == 0)
##Simply need df.loc[df.Keep != 0]

def consec6(troop):
    months = []
    years = []
    count = 0
    tag = 0 ##keeps track if count hit 5 or greater
    
    for i in census.loc[census.Troop.str.contains(troop)].ObsYear.unique():
        years.extend([i]*len(sig_data.get_group((troop,i)).ObsMonth.unique()))
        months.extend(sig_data.get_group((troop,i)).ObsMonth.unique())
        
    df = pd.DataFrame({'Year':years,'Month':months,'Keep':[0]*len(months)})
    
    df['mon_elap'] = df.Month + 12*(df.Year-list(df.Year)[0])

    for x in range(len(months)-1):
        ##Next unique month consecutive number?
        if df.loc[x+1,'mon_elap'] == df.loc[x,'mon_elap']+1:
            count += 1
            ##End of df and count >= 5? Mark as keep
            if (x == len(months)-2) & (count >= 5):
                df.loc[x-count+1:x+1,'Keep'] = 3
                #print('loc 5')
            #print('loc 1')
    
        ##No longer consecutive and under 6 months? Start over.
        elif (df.loc[x+1,'mon_elap'] != df.loc[x,'mon_elap']+1) & (count < 5):
            count = 0 
            #print('loc 2')

        ##6 months or over and no longer consecutive? Mark as keep
        elif (df.loc[x+1,'mon_elap'] != df.loc[x,'mon_elap']+1) & (count >= 5):
            df.loc[x-count:x,'Keep'] = 1
            count = 0
            #print('loc 3')
            
        ##All Keep entries are 0 at very end?    
        if (np.sum(df.Keep) == 0) & (count >= 5) & (x == len(months)-2):
            df.loc[x-count:x+1,'Keep'] = 2
            #print('loc 4')
            

            
    #print('count is {}'.format(count))

    return df

In [21]:
def data_clean(df,op_trp=0):
    ##Function cleans the entire data set such that each troop has at least six consecutive months of observations
    ##Input data set (df) and returns cleaned data set (df)
    
    ##Contains option to clean one troop out of data set (for testing)
    ##Enter op_trp value (string) to clean specific troop
    
    ##Add cleaning column
    df.loc[:,'cleaner'] = 0
    
    ##Create coluimn of tuple that contains (obsMonth,ObsYear)
    df['Tuple'] = list(zip(list(df.ObsMonth),list(df.ObsYear)))
    
    ##Iterate through all troops, clean data, and update cleaner column
    troops = df.Troop.unique()
    
    ##For all troops
    if op_trp == 0:
        for troop in troops:
            
            ##Start cleaning function
            clean = consec6(troop)
            clean = clean.loc[clean.Keep != 0]
            clean['test'] = list(zip(list(clean.Month),list(clean.Year)))
            
            ##Copy of data for cleaner columns (used to update df)
            wd = df.loc[df.Troop.str.contains(troop)]
            
            try:
                ##Find the obs tuples in copied data that are also in cleaned data
                wd = wd[wd['Tuple'].isin(clean.test)]
                
                ##Change intersected data's cleaner column to 1
                wd.loc[:,'cleaner'] = 1
                
                ##Update final df
                df.update(wd)
                
            except:
                   pass
                
    ##Repeat steps for singular troop
    else:
        troop = op_trp
        clean = consec6(troop)
        clean = clean.loc[clean.Keep != 0]
        clean['test'] = list(zip(list(clean.Month),list(clean.Year)))

        wd = df.loc[df.Troop == troop]
        try:
            wd = wd[wd['Tuple'].isin(clean.test)]
            wd.loc[:,'cleaner'] = 1
        
            df.update(wd)
        except:
            pass
        
        
    df = df.loc[df.cleaner == 1]
    
    return df

data_clean(census,'MOW')

,Unnamed: 0,Observation ID,Date,Time,Troop,Observers,Location,Latitude,Longitude,Rain Type,...,Columna2,Columna3,AM/PM,Time up,Not seen,Columna4,ObsYear,ObsMonth,cleaner,Tuple
1141,NaN,NaN,2015-12-31,11:02,MOW,Marci,golf course near staff housing,-,-,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2015.0,12.0,1.0,"(12, 2015)"
1142,NaN,NaN,2016-01-03,AM,MOW,CA,maintenance,17.78275,25.16033,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,1.0,1.0,"(1, 2016)"
1143,NaN,NaN,2016-01-04,17:45,MOW,CA and Nick,MOW-D1 (under tin at Brett Mcdonald's driveway),17.78184,25.1613,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,1.0,1.0,"(1, 2016)"
1144,NaN,NaN,2016-01-07,18:30,MOW,CA and Nick,MOW-D1 (under tin at Brett Mcdonald's driveway),17.78184,25.1613,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,1.0,1.0,"(1, 2016)"
1145,NaN,MOW020216,2016-02-02,9:50,MOW,CA,golf course near staff housing,17.84221,25.08053,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,2.0,1.0,"(2, 2016)"
1146,NaN,MOW050216,2016-02-05,11:30,MOW,CA,Attempted capture,17.78285,25.16492,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,2.0,1.0,"(2, 2016)"
1147,NaN,MOW080216,2016-02-08,9:50,MOW,CA,denning- some come out but go back inside,17.78301,25.16501,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,2.0,1.0,"(2, 2016)"
1148,NaN,MOW100216,2016-02-10,9:30,MOW,CA,Inside den behind baobab,-,-,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,2.0,1.0,"(2, 2016)"
1149,NaN,MOW290216,2016-02-29,12:13,MOW,CA,Laying on the brooms/thatch inside the garden ...,17.78255,25.15992,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,2.0,1.0,"(2, 2016)"
1150,NaN,MOW020316,2016-03-02,14:09,MOW,CA,crossed mowana entrance road to go to golf cou...,17.78332,25.15969,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,3.0,1.0,"(3, 2016)"
1151,NaN,MOW090316,2016-03-09,10:00,MOW,CA,Between spa and golf course,17.78465,25.15819,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,3.0,1.0,"(3, 2016)"
1152,NaN,MOW100316,2016-03-10,8:00,MOW,CA,between tennis courts and rooms,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,3.0,1.0,"(3, 2016)"
1153,NaN,MOW140316,2016-03-14,10:00,MOW,CA & Daniel,started at Brett McDonald's ouse then capture ...,17.8091,25.14594,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,3.0,1.0,"(3, 2016)"
1154,NaN,MOW170316,2016-03-17,14:52,MOW,CA,Under deck at spa,17.78416,25.15828,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,3.0,1.0,"(3, 2016)"
1155,NaN,MOW180316,2016-03-18,12:11,MOW,CA,Some in garage and others in bush beside Brett...,17.78148,25.16163,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,3.0,1.0,"(3, 2016)"
1156,NaN,MOW040416,2016-04-04,16:45,MOW,CA,Running up road from Brett McDonald's towards ...,17.78273,25.16032,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,4.0,1.0,"(4, 2016)"
1157,NaN,MOW060416,2016-04-06,9:50,MOW,CA,At the far end of the golf course- dense bush ...,-,-,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,4.0,1.0,"(4, 2016)"
1158,NaN,MOW150417,2016-04-15,15:58,MOW,CA,"ran across golf course and went into bush, str...",-,-,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,4.0,1.0,"(4, 2016)"
1159,NaN,MOW260416,2016-04-26,17:00,MOW,CA and Daniel,At den on road behind spa,17.78647,25.15805,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,4.0,1.0,"(4, 2016)"
1160,NaN,MOW030516,2016-05-03,18:11,MOW,CA,In front of rooms on Seboba side,17.79283,25.18429,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,5.0,1.0,"(5, 2016)"
1161,NaN,MOW190516,2016-05-19,10:00,MOW,Danial,NaN,17.79134,25.2845,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,5.0,1.0,"(5, 2016)"
1162,NaN,MOW200516,2016-05-20,12:40,MOW,Danial,NaN,17.80661,25.1468,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,5.0,1.0,"(5, 2016)"
1163,NaN,MOW300516,2016-05-30,14:48,MOW,CA & Maddie,Rooms behind maintenance,17.78177,25.15899,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,5.0,1.0,"(5, 2016)"
1164,NaN,MOW030616,2016-06-03,16:40,MOW,CA,Went from dining area to front lawns,17.7827,25.15833,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,6.0,1.0,"(6, 2016)"
1165,NaN,MOW070616,2016-06-07,14:01,MOW,CA,Trying to come into staff housing area but war...,17.78479,25.15897,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,6.0,1.0,"(6, 2016)"
1166,A,MOW210616,2016-06-21,14:00,MOW,CA and Mitch,In garden area behind garbage site,17.78222,25.15941,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,6.0,1.0,"(6, 2016)"
1167,NaN,MOW290616,2016-06-29,18:00,MOW,CA and Lipa,Denning in hollowed out sidewalk by maintenance,-,-,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,6.0,1.0,"(6, 2016)"
1168,NaN,MOW060716,2016-07-06,18:00,MOW,CA and Lipa,In den under bricks by maintenance,-,-,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,7.0,1.0,"(7, 2016)"
1169,NaN,MOW110716,2016-07-11,16:49,MOW,CA,At baobab at the entrance of Mowana.,-,-,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,7.0,1.0,"(7, 2016)"
1170,NaN,MOW270716,2016-07-27,13:10,MOW,CA,NaN,-,-,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,7.0,1.0,"(7, 2016)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1207,NaN,MOW250817,2017-08-25,10:15,MOW,"LP, OB","Front of game drive car park, on grassy island",-17.78279,25.15911,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,8.0,1.0,"(8, 2017)"
1208,NaN,MOW060917,2017-09-06,10:39,MOW,"LP, GK",Next to Culture Village Mow Lodge,-17.78092,25.16029,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,9.0,1.0,"(9, 2017)"
1209,NaN,MOW120917,2017-09-12,10:18,MOW,LP,At Cultural Village Mowana,-17.781,25.16018,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,9.0,1.0,"(9, 2017)"
1210,NaN,MOW130917,2017-09-13,10:25,MOW,LP,Under front dek of Spa (Behind swimmingpool),-17.78422,25.15801,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,9.0,1.0,"(9, 2017)"
1211,NaN,MOW140917,2017-09-14,11:00,MOW,LP,Golf Course MOW,-17.78547,25.15843,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,9.0,1.0,"(9, 2017)"
1212,NaN,MOW220917,2017-09-22,11:30,MOW,LP,In bush behind Private Lileden (Mow),-17.7824,25.16269,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,9.0,1.0,"(9, 2017)"
1213,NaN,MOW290917,2017-09-29,10:30,MOW,LP,Run from den in rocks to trash house,-17.78227,25.16034,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,9.0,1.0,"(9, 2017)"
1214,NaN,MOW091017,2017-10-09,14:00,MOW,LP,"In bush behind ""Eden"" (Mowana Lodge)",-17.78235,25.16238,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,10.0,1.0,"(10, 2017)"
1215,NaN,MOW11117,2017-11-01,8:20,MOW,LP,Drain hole next to game drive car parking,-17.78293,25.1592,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,11.0,1.0,"(11, 2017)"
1216,NaN,MOW151117,2017-11-15,10:24,MOW,LP,"Behind staff houses, MOW lodge",-17.78471,25.15908,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,11.0,1.0,"(11, 2017)"
1217,NaN,MOW201117,2017-11-20,8:08,MOW,LP,Gate Mow Lodge,-17.783328,25.165145,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,11.0,1.0,"(11, 2017)"
1218,NaN,MOW231117,2017-11-23,8:08,MOW,LP,In bush front of elephant corridor - Seboba,-17.78376,25.16979,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,11.0,1.0,"(11, 2017)"
1219,NaN,MOW241117,2017-11-24,9:53,MOW,LP,Third gate inside SEBOBA,-17.783075,25.169324,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,11.0,1.0,"(11, 2017)"
1220,NaN,MOW281117,2017-11-28,8:55,MOW,LP,At Mowana Lodge sign,-17.78336,25.16548,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,11.0,1.0,"(11, 2017)"
1221,NaN,MOW041217,2017-12-04,14:25,MOW,LP,Primary School front of MOW Lodge,-17.7869,25.16546,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,12.0,1.0,"(12, 2017)"
1222,NaN,MOW071217,2017-12-07,9:17,MOW,LP,Crossing to Primary School front of MOW Lodge,-17.78333,25.16659,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,12.0,1.0,"(12, 2017)"
1223,NaN,MOW071217,2017-12-07,15:20,MOW,LP,Primary school front of MOW Lodge,-17.7853,25.16542,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,12.0,1.0,"(12, 2017)"
1224,NaN,MOW111217,2017-12-11,13:50,MOW,LP,End of golf course MOW,-17.78675,25.15835,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,12.0,1.0,"(12, 2017)"
1225,NaN,MOW020118,2018-01-02,9:20,MOW,"LP, KV","At golf cours, next to staff village",-17.78493,25.15943,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,1.0,1.0,"(1, 2018)"
1226,NaN,MOW030118,2018-01-03,9:15,MOW,"LP, KV",Crossing from Secondary School to MOW,-17.78642,25.16716,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,1.0,1.0,"(1, 2018)"
1227,NaN,MOW0340118,2018-01-04,8:07,MOW,"LP, KV",Back of secondary school,-17.787836,25.166761,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,1.0,1.0,"(1, 2018)"
1228,NaN,MOW050118,2018-01-05,8:30,MOW,"LP, KV",Soccerfield next to Secondary School (front of...,-17.788066,25.162993,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,1.0,1.0,"(1, 2018)"
1229,NaN,MOW150118,2018-01-15,13:35,MOW,"LP, KV",Trash house MOW,-17.78242,25.15947,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,1.0,1.0,"(1, 2018)"
1230,NaN,MOW300118,2018-01-30,10:29,MOW,LP,At Parking top to Golf course,.17.78307,25.15971,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,1.0,1.0,"(1, 2018)"
1231,NaN,MOW050218,2018-02-05,11:44,MOW,LP,End of Golf course MOW,-17.787317,25.159968,Light,...,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,2.0,1.0,"(2, 2018)"
1232,NaN,MOW120218,2018-02-12,11:16,MOW,LP,Fence bottom of golf course,-17.78762,25.16059,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,2.0,1.0,"(2, 2018)"
1233,NaN,MOW210218,2018-02-21,11:56,MOW,LP,At the lawn behind the beauty spa,-17.78451,25.15803,Light,...,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,2.0,1.0,"(2, 2018)"
1234,NaN,MOW090318,2018-03-09,10:00,MOW,"LP; KR, JB",seboba river front under picnic site shed,-17.78228,25.16744,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,3.0,1.0,"(3, 2018)"
1235,NaN,MOW190318,2018-03-19,11:28,MOW,"LP; KR, JB",NaN,-17.78849,25.15985,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,3.0,1.0,"(3, 2018)"
1236,NaN,MOW290318,2018-03-29,10:36,MOW,LP,Junios Secondary School,-17.787493,25.166161,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,3.0,1.0,"(3, 2018)"

In [22]:
good_data = data_clean(census)
fusion_data = good_data.copy()
good_data = pd.DataFrame(good_data, columns = ['Date','Troop','Latitude','Longitude','Count','Complete Count?'])
good_data.head()

         Date Troop   Latitude Longitude  Count Complete Count?
22 2013-09-05   CCH        NaN       NaN   19.0             NaN
23 2013-09-12   CCH  -17.82746  25.13761   18.0             NaN
24 2013-09-25   CCH   -17.8274  25.13817   15.0             NaN
25 2013-10-01   CCH  -17.79475  25.15429   21.0             NaN
26 2013-10-02   CCH  -17.82833  25.13828   18.0             NaN

In [23]:
good_data.Troop.unique()

array(['CCH', 'CGL', 'CSL', 'FARM', 'FOR', 'KUBU', 'KUBU/KWA', 'KWA',
       'LIB', 'MOGO', 'MOW', 'ODH', 'PAN', 'PLAT', 'PLAT/LIB', 'SDRF',
       'SEF', 'WA', 'WA/WPLAT', 'WDL', 'WPLAT'], dtype=object)

In [24]:
good_data.to_csv('../Mongoose Modeling/cleaner_census_data.csv')

In [25]:
fusion_data.to_csv('../Mongoose Modeling/fusion_data.csv')

In [26]:
good_data.shape

(1160, 6)

In [25]:
fusion_data.shape

(1266, 49)