In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()
import datetime
import math

In [2]:
##Reading in file
census = pd.read_csv('../Mongoose Modeling/Updated Census.csv')

##Extracting Relevant Columns
census = census.rename(columns = {'Latitude ':'Latitude'})
#census = pd.DataFrame(census, columns = ['Date','Troop','Latitude','Longitude','Troop Number','Complete Count?'])
census = census.dropna(subset=['Date','Troop'])

##Fixing troop name inconsistencies
census['Troop'] = census['Troop'].replace(['Old Park Gate','Old Park gate'],'OPG')
census['Troop'] = census['Troop'].replace(['Watercart','WCEast','Watercut East','WCEST'],'WCE')
census['Troop'] = census['Troop'].replace(['Watercut West','WCWST','WCWst'],'WCW')
census['Troop'] = census['Troop'].replace(['safari lodge ','CSL ','Chobe Safari Lodge','Safari lodge','CLS','SCSL'],'CSL')
census['Troop'] = census['Troop'].replace(['Mowana car park','Mowana','mowana lodge'],'MOW')
census['Troop'] = census['Troop'].replace(['Serondella'],'SER')
census['Troop'] = census['Troop'].replace(['BBD/Serondella'],'BBD/SER')
census['Troop'] = census['Troop'].replace(['Kalweeze'],'KAL')
census['Troop'] = census['Troop'].replace(['Game Lodge','Chobe Game Lodge','CGK'],'CGL')
census['Troop'] = census['Troop'].replace(['Savas stores'],'SAV')
census['Troop'] = census['Troop'].replace(['Chobe Farm troop','UNK (Chobe Farms?)'],'FARM')
census['Troop'] = census['Troop'].replace(['marina','marina lodge','marina lodge ',],'CML')
census['Troop'] = census['Troop'].replace(['forestry','forestry ','FOR '],'FOR')
census['Troop'] = census['Troop'].replace(['Hippo Pools'],'HIPP')
census['Troop'] = census['Troop'].replace(['Water Affairs'],'WA')
census['Troop'] = census['Troop'].replace(['Kubu','Kubu lodge'],'KUBU')
census['Troop'] = census['Troop'].replace(['Dump'],'DUMP')
census['Troop'] = census['Troop'].replace(['Safari Lodge'],'CSL')
census['Troop'] = census['Troop'].replace(['Sefalana'],'SEF')
census['Troop'] = census['Troop'].replace(['Unk','unknown','Unknown','UNKOWNN'],'UNK')
census['Troop'] = census['Troop'].replace(['Kaz','Kazungula Industrial','Kazungula Border'],'KAZ')
census['Troop'] = census['Troop'].replace(['Sedudu Gate','Park Gate Sedudu','Gate Troop'],'SDGT')
census['Troop'] = census['Troop'].replace(['Thebe River lodge'],'THEBE')
census['Troop'] = census['Troop'].replace(['Chobe Chilwero'],'CCH')
census['Troop'] = census['Troop'].replace(['Lesoma'],'LES')
census['Troop'] = census['Troop'].replace(['Charlotte'],'CHAR')
census['Troop'] = census['Troop'].replace(['Sewage Ponds'],'SEW')
census['Troop'] = census['Troop'].replace(['Individual "Nubbins"','Nubbins'],'NUB')
census['Troop'] = census['Troop'].replace(['UNK (Plateau)','UNK PLAT','Plat'],'PLAT')
census['Troop'] = census['Troop'].replace(['Plateau/Wildlife'],'PLAT/WDL')
census['Troop'] = census['Troop'].replace(['Bridgetown'],'BRT')
census['Troop'] = census['Troop'].replace(['Kwalape','KwA'],'KWA')
census['Troop'] = census['Troop'].replace(['WILD'],'WDL')
census['Troop'] = census['Troop'].replace(['?PARK','PARKTROOP','UNK (park)','UNKpark'],'PARK')
census['Troop'] = census['Troop'].replace(['Tawana'],'TWA')
census['Troop'] = census['Troop'].replace(['WPLAT-WA'],'WPLAT/WA')
census['Troop'] = census['Troop'].replace(['Old House'],'ODH')
census['Troop'] = census['Troop'].replace(['hospital'],'HOS')
census['Troop'] = census['Troop'].replace(['CSL-CHAR'],'CSL/CHAR')

census = census[census.Troop != '0']
census = census[census.Troop != 'Hatab8']
census = census[census.Troop != 'Center/Wildlife?']
census = census[census.Troop != '?']

census.head()

,Unnamed: 0,Observation ID,Date,Time,Troop,Observers,Location,Latitude,Longitude,Rain Type,...,Mix,Troop Name,Split,Columna1,Columna2,Columna3,AM/PM,Time up,Not seen,Columna4
1,NaN,OPG130600,6/13/2000,NaN,OPG,NaN,NaN,-17.8258,25.1358,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,OPG290600,6/29/2000,NaN,OPG,NaN,NaN,-17.8253,25.1319,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,OPG070700,7/7/2000,NaN,OPG,NaN,NaN,-17.8253,25.1319,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,OPG100700,7/10/2000,NaN,OPG,NaN,NaN,-17.8253,25.1319,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,OPG130800,8/13/2000,NaN,OPG,NaN,NaN,-17.8253,25.1319,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
##Removing empty counts and fixing non-numeric entries

census['Troop Number'] = census['Troop Number'].replace(['22+1 ','14+9'],23)
census['Troop Number'] = census['Troop Number'].replace(['24+6','30+'],30)
census['Troop Number'] = census['Troop Number'].replace(['20+7'],27)
census['Troop Number'] = census['Troop Number'].replace(['22+15'],37)
census['Troop Number'] = census['Troop Number'].replace(['17+8'],25)
census['Troop Number'] = census['Troop Number'].replace(['36+4','28+12','39+1'],40)
census['Troop Number'] = census['Troop Number'].replace(['15+7'],22)
census['Troop Number'] = census['Troop Number'].replace(['23+13'],36)
census['Troop Number'] = census['Troop Number'].replace(['40+1'],41)
census['Troop Number'] = census['Troop Number'].replace(['30+5'],35)
census['Troop Number'] = census['Troop Number'].replace(['34+32'],66)
census['Troop Number'] = census['Troop Number'].replace(['51+6'],57)
census['Troop Number'] = census['Troop Number'].replace(['48+'],48)
census['Troop Number'] = census['Troop Number'].replace(['~10'],10)
census['Troop Number'] = census['Troop Number'].replace(['7+1'],8)
census['Troop Number'] = census['Troop Number'].replace(['29+'],29)
census['Troop Number'] = census['Troop Number'].replace(['13+5','12+6'],18)
census['Troop Number'] = census['Troop Number'].replace(['12+2'],14)
census['Troop Number'] = census['Troop Number'].replace(['12+7','7+12','14+5'],19)
census['Troop Number'] = census['Troop Number'].replace(['12+'],12)
census['Troop Number'] = census['Troop Number'].replace(['19+5'],24)
census['Troop Number'] = census['Troop Number'].replace(['13+3'],16)
census['Troop Number'] = census['Troop Number'].replace(['9+2','8+3'],11)
census['Troop Number'] = census['Troop Number'].replace(['8+13'],21)

census = census.dropna(subset=['Troop Number'])

census = census[census["Troop Number"] != 'No count']
census = census[census["Troop Number"] != '-']
census = census[census["Troop Number"] != 'not seen']
census = census[census["Troop Number"] != '?']
census = census[census["Troop Number"] != 'not seen ']
census = census[census["Troop Number"] != 'Unable to determine']
census = census[census["Troop Number"] != 'Unk']
census = census[census["Troop Number"] != 'Lots']

census['Troop Number'] = pd.to_numeric(census["Troop Number"])

In [4]:
census.Troop.unique()

array(['OPG', 'MOW', 'CGL', 'SAV', 'WCE', 'CSL', 'HOS', 'CML', 'FOR',
       'NPG', 'CCH', 'BBD', 'UNK', 'HIPP', 'KUBU', 'WA', 'SEF', 'DUMP',
       'KAZ', 'WCW', 'SDGT', 'FARM', 'THEBE', 'CSL/CHAR', 'LES', 'CHAR',
       'SEW', 'SEF/THEBE', 'NUB', 'MOGO', 'PARK', 'SDRF', 'PLAT',
       'PLAT/WDL', 'BRT', 'WA/MOGO', 'KWA', 'WDL', 'LIB', 'WPLA', 'WPLAT',
       'TWA', 'WPLAT/WA', 'KUBU/KWA', 'WA/WPLAT', 'ODH', 'WA/PLAT',
       'PLAT/WPLAT', 'WPLAT/PLAT', 'ODH/PLAT', 'PLAT/LIB'], dtype=object)

In [5]:
census.Troop.nunique()

51

In [6]:
census['Troop Number'].unique()

array([ 2,  1,  8, 35, 13, 32, 12, 20, 29, 25, 14, 37, 39, 46, 41, 47, 49,
       45, 53, 27, 52, 23, 44, 55, 17, 15, 10, 34, 11, 18, 19, 28,  5, 30,
       22, 21,  7, 36, 40, 24, 16, 26,  9,  3, 33, 38,  4,  0, 56, 67, 66,
       48, 57, 31, 58,  6, 42, 50, 51, 43, 54], dtype=int64)

In [7]:
census = census.rename(columns = {'Troop Number':'Count'})
census.head()

,Unnamed: 0,Observation ID,Date,Time,Troop,Observers,Location,Latitude,Longitude,Rain Type,...,Mix,Troop Name,Split,Columna1,Columna2,Columna3,AM/PM,Time up,Not seen,Columna4
1,NaN,OPG130600,6/13/2000,NaN,OPG,NaN,NaN,-17.8258,25.1358,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,OPG290600,6/29/2000,NaN,OPG,NaN,NaN,-17.8253,25.1319,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,MCP110900,9/11/2000,NaN,MOW,NaN,NaN,-17.7817,25.1589,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,CGL130900,9/13/2000,NaN,CGL,NaN,NaN,-17.84,25.0756,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,OPG150900,9/15/2000,NaN,OPG,NaN,NaN,-17.8258,25.1317,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
##Converting date column in census to 'readable' dates
census['Date'] = pd.to_datetime(census['Date'])
census = census.sort_values(['Troop','Date'], ascending = [True,True])

##Removing troops with less than 6 observations
for i in census.Troop.unique():
    wd = census.loc[census.Troop == i]
    if len(wd)< 6:
        census = census.loc[census.Troop != i]
census = census.reset_index(drop = True)
census.Troop.unique()

array(['CCH', 'CGL', 'CSL', 'DUMP', 'FARM', 'FOR', 'KAZ', 'KUBU',
       'KUBU/KWA', 'KWA', 'LIB', 'MOGO', 'MOW', 'ODH', 'OPG', 'PARK',
       'PLAT', 'PLAT/LIB', 'SDGT', 'SDRF', 'SEF', 'THEBE', 'UNK', 'WA',
       'WA/WPLAT', 'WCE', 'WCW', 'WDL', 'WPLA', 'WPLAT/PLAT'], dtype=object)

In [9]:
census['ObsYear'] = census.Date.apply(lambda x: x.year)
census['ObsMonth'] = census.Date.apply(lambda x: x.month)

In [10]:
sig_data = census.groupby(['Troop','ObsYear'])
sig_data.get_group(('CCH',2012))

,Unnamed: 0,Observation ID,Date,Time,Troop,Observers,Location,Latitude,Longitude,Rain Type,...,Split,Columna1,Columna2,Columna3,AM/PM,Time up,Not seen,Columna4,ObsYear,ObsMonth
1,ok,CCH060212,2012-02-06,NaN,CCH,ROB,Lodge entrance,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012,2
2,ok,CCH090212,2012-02-09,NaN,CCH,ROB,Chilwero service area,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012,2
3,ok,CCH160312,2012-03-16,NaN,CCH,ROB,Main lawn of lodge,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012,3
4,ok,CCH260312,2012-03-26,NaN,CCH,MARIA,Lodge,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,AM,NaN,NaN,NaN,2012,3
5,ok,CCH300412,2012-04-30,NaN,CCH,ROB,Lodge service area,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,AM,NaN,NaN,NaN,2012,4
6,ok,CCH100512,2012-05-10,NaN,CCH,ROB/MARIA,Lodge service area,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,AM,NaN,NaN,NaN,2012,5
7,ok,CCH010612,2012-06-01,NaN,CCH,ROB,Main lawn of lodge,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,AM,NaN,NaN,NaN,2012,6
8,ok,CCH110612,2012-06-11,7:40,CCH,ROB,Lodge service area,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,AM,NaN,NaN,NaN,2012,6
9,ok,CCH220612,2012-06-22,7:35,CCH,CLAIRE,Under blue container near mechanics workshop,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,AM,NaN,NaN,NaN,2012,6
10,NaN,CCH030912,2012-09-03,NaN,CCH,Rob,Lodge service area,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,PM,NaN,NaN,NaN,2012,9
11,NaN,CCH100912,2012-09-10,7:25,CCH,Rob,Lodge service area,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,AM,NaN,NaN,NaN,2012,9
12,NaN,CCH121012,2012-10-12,NaN,CCH,Rob,Lodge service area,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,AM,NaN,NaN,NaN,2012,10
13,NaN,CCH301012,2012-10-30,NaN,CCH,Rob,Lodge service area,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,AM,NaN,NaN,NaN,2012,10
14,NaN,CCH071112,2012-11-07,NaN,CCH,Rob,"Outside lodge, service area",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,AM,NaN,NaN,NaN,2012,11
15,NaN,CCH221112,2012-11-22,NaN,CCH,Rob,Lodge lawn,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,AM,NaN,NaN,NaN,2012,11
16,NaN,CCH281112,2012-11-28,NaN,CCH,Rob,Lodge service area,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,AM,NaN,NaN,NaN,2012,11

In [11]:
for i in census.Troop.unique():
    for j in census.loc[census.Troop == i].ObsYear.unique():
        print('Troop: '+str(i))
        print('Year: '+str(j))
        print(list(sig_data.get_group((str(i),j)).ObsMonth.unique()))

Troop: CCH
Year: 2011
[12]
Troop: CCH
Year: 2012
[2, 3, 4, 5, 6, 9, 10, 11]
Troop: CCH
Year: 2013
[1, 2, 5, 9, 10, 11, 12]
Troop: CCH
Year: 2014
[1, 2, 10]
Troop: CCH
Year: 2015
[7, 8, 10, 11, 12]
Troop: CCH
Year: 2016
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12]
Troop: CCH
Year: 2017
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
Troop: CCH
Year: 2018
[1, 2, 3]
Troop: CGL
Year: 2000
[9]
Troop: CGL
Year: 2011
[12]
Troop: CGL
Year: 2012
[2, 4, 5, 6, 7, 8, 9, 10, 11]
Troop: CGL
Year: 2013
[2, 4, 5, 6, 9, 10, 11, 12]
Troop: CGL
Year: 2014
[1, 2]
Troop: CGL
Year: 2015
[6, 9]
Troop: CGL
Year: 2016
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12]
Troop: CGL
Year: 2017
[1, 3, 4, 5, 6, 7, 8, 10, 11, 12]
Troop: CGL
Year: 2018
[1, 2, 3]
Troop: CSL
Year: 2004
[1, 2]
Troop: CSL
Year: 2011
[3, 12]
Troop: CSL
Year: 2012
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
Troop: CSL
Year: 2013
[1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12]
Troop: CSL
Year: 2014
[1, 2, 5, 6, 8, 9, 10]
Troop: CSL
Year: 2015
[5, 6, 7, 8, 9]
Troop: CSL
Year: 2016
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12]
Troop: CSL
Year: 2017
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
Troop: CSL
Year: 2018
[1, 3]
Troop: DUMP
Year: 2012
[10, 11]
Troop: DUMP
Year: 2016
[2, 4, 5, 6, 7, 9, 10, 12]
Troop: DUMP
Year: 2017
[1]
Troop: FARM
Year: 2013
[9, 10, 11, 12]
Troop: FARM
Year: 2014
[1, 2, 5, 8, 11]
Troop: FARM
Year: 2015
[12]
Troop: FARM
Year: 2016
[6]
Troop: FARM
Year: 2017
[4, 5, 6, 8]
Troop: FOR
Year: 2004
[2]
Troop: FOR
Year: 2015
[6, 7, 8, 9, 10]
Troop: FOR
Year: 2016
[1, 2, 3, 4, 5, 6, 7, 8, 12]
Troop: FOR
Year: 2017
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
Troop: FOR
Year: 2018
[1, 2, 4]
Troop: KAZ
Year: 2013
[4, 9]
Troop: KAZ
Year: 2015
[8, 12]
Troop: KAZ
Year: 2016
[1]
Troop: KUBU
Year: 2012
[1, 3, 5, 8, 10, 11]
Troop: KUBU
Year: 2013
[1, 2, 4, 5, 9, 10, 11, 12]
Troop: KUBU
Year: 2014
[2, 5, 10]
Troop: KUBU
Year: 2015
[6, 7, 8, 10, 11, 12]
Troop: KUBU
Year: 2016
[1, 2, 3, 4, 6, 7, 9]
Troop: KUBU
Year: 2017
[1, 2, 4, 5, 6, 9, 10, 11, 12]
Troop: KUBU
Year: 2018
[1, 2, 3]
Troop: KUBU/KWA
Year: 2017
[6, 7, 8, 9]
Troop: KWA
Year: 2016
[6, 9, 10, 12]
Troop: KWA
Year: 2017
[1, 2, 3, 4, 5]
Troop: KWA
Year: 2018
[3]
Troop: LIB
Year: 2017
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
Troop: LIB
Year: 2018
[1]
Troop: MOGO
Year: 2016
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12]
Troop: MOGO
Year: 2017
[1, 2]
Troop: MOW
Year: 2000
[9]
Troop: MOW
Year: 2004
[2]
Troop: MOW
Year: 2011
[1, 12]
Troop: MOW
Year: 2012
[1, 2, 5, 6, 7, 8, 9]
Troop: MOW
Year: 2013
[1, 3, 9, 10, 11]
Troop: MOW
Year: 2014
[8]
Troop: MOW
Year: 2015
[6, 7, 8, 9, 10, 12]
Troop: MOW
Year: 2016
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12]
Troop: MOW
Year: 2017
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
Troop: MOW
Year: 2018
[1, 2, 3]
Troop: ODH
Year: 2017
[9, 10, 11, 12]
Troop: ODH
Year: 2018
[1, 2, 3]
Troop: OPG
Year: 2000
[6, 9, 10]
Troop: OPG
Year: 2003
[3]
Troop: OPG
Year: 2011
[12]
Troop: OPG
Year: 2012
[4]
Troop: PARK
Year: 2016
[2, 3, 4]
Troop: PARK
Year: 2017
[4, 10]
Troop: PARK
Year: 2018
[1]
Troop: PLAT
Year: 2016
[3, 4, 6, 7, 10, 12]
Troop: PLAT
Year: 2017
[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12]
Troop: PLAT
Year: 2018
[1, 3]
Troop: PLAT/LIB
Year: 2018
[1, 2, 3]
Troop: SDGT
Year: 2013
[9, 10]
Troop: SDGT
Year: 2015
[6]
Troop: SDGT
Year: 2017
[4]
Troop: SDRF
Year: 2016
[2, 3, 4, 5, 6, 7, 8, 9, 12]
Troop: SDRF
Year: 2017
[3]
Troop: SEF
Year: 2012
[1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12]
Troop: SEF
Year: 2013
[1, 2, 4, 5, 9, 10]
Troop: SEF
Year: 2014
[1, 8]
Troop: SEF
Year: 2015
[5, 6, 7, 8, 9, 10, 11]
Troop: SEF
Year: 2016
[1, 2, 3, 4, 6, 7, 8, 9, 10, 12]
Troop: SEF
Year: 2017
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
Troop: SEF
Year: 2018
[1, 2, 3]
Troop: THEBE
Year: 2013
[9, 10, 11, 12]
Troop: THEBE
Year: 2014
[1, 8]
Troop: THEBE
Year: 2015
[8, 9]
Troop: THEBE
Year: 2016
[1]
Troop: UNK
Year: 2011
[12]
Troop: UNK
Year: 2012
[1, 6]
Troop: UNK
Year: 2013
[4]
Troop: UNK
Year: 2014
[8]
Troop: UNK
Year: 2015
[11, 12]
Troop: UNK
Year: 2016
[1, 4, 6, 7]
Troop: UNK
Year: 2017
[3]
Troop: UNK
Year: 2018
[2]
Troop: WA
Year: 2012
[1, 2, 3, 5, 8, 9, 10, 11, 12]
Troop: WA
Year: 2013
[1, 2, 3, 5, 9, 10, 11, 12]
Troop: WA
Year: 2014
[1, 2]
Troop: WA
Year: 2015
[3, 6, 7, 8, 10, 11, 12]
Troop: WA
Year: 2016
[1, 2, 3, 4, 5, 6, 7, 9, 10, 12]
Troop: WA
Year: 2017
[1, 5, 6, 10, 11, 12]
Troop: WA
Year: 2018
[1]
Troop: WA/WPLAT
Year: 2017
[6, 7, 8, 9]
Troop: WCE
Year: 2000
[9]
Troop: WCE
Year: 2013
[9, 11, 12]
Troop: WCE
Year: 2014
[1, 2]
Troop: WCE
Year: 2016
[1, 5, 8, 12]
Troop: WCE
Year: 2017
[1, 3]
Troop: WCW
Year: 2013
[9, 12]
Troop: WCW
Year: 2016
[1, 3, 4, 5, 7, 9, 10, 12]
Troop: WDL
Year: 2016
[9]
Troop: WDL
Year: 2017
[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
Troop: WDL
Year: 2018
[1, 2, 3]
Troop: WPLA
Year: 2017
[1, 4, 5]
Troop: WPLAT/PLAT
Year: 2017
[10, 11]

# Sorting through Comments for Fusion/Fission Data

In [12]:
census.columns

Index(['Unnamed: 0', 'Observation ID', 'Date', 'Time', 'Troop', 'Observers',
       'Location', 'Latitude', 'Longitude', 'Rain Type', 'Land Use',
       'Temperature', 'Cloud Cover', 'Wind', 'Wilderness', 'Den Type',
       'Park Habitat', 'Count', 'Complete Count?', 'Group Spread',
       'Number juveniles/ Sub-Adults', '# Pups', '# Pregnant',
       'Pregnant third', 'Identifiable Individuals', 'Number sick',
       'Illness Rank', 'Description of Signs', 'Number injured',
       'Description of Injuries', 'Feces', '# Feces', 'Urine',
       'Anal Gland Secr.', 'Comments', 'Mix', 'Troop Name', 'Split',
       'Columna1', 'Columna2', 'Columna3', 'AM/PM', 'Time up', 'Not seen',
       'Columna4', 'ObsYear', 'ObsMonth'],
      dtype='object')

In [ ]:
com = list(census['Comments'])
i = 0

while i < len(com):
    ans = 0
    
    print(com[i])
    print('**********')
    
    ans = input('Next comment? [press Enter]')
    
    if ans == '':
        i+=1
        ans = 0
        
    elif ans == 'END':
        i = len(com)
        
    else:
        print(census.iloc[i])
        inq = census.iloc[i]
        print('***************')
        
    ans = 0

# Cleaning Data by Function

In [12]:
##Input a troop name to find consecutive (at least 6 months) data
##Will return a dataframe with months to keep (Keep = 1) and months to discard (Keep == 0)
##Simply need df.loc[df.Keep != 0]

def consec6(troop):
    months = []
    years = []
    count = 0
    tag = 0 ##keeps track if count hit 5 or greater
    
    for i in census.loc[census.Troop == troop].ObsYear.unique():
        years.extend([i]*len(sig_data.get_group((troop,i)).ObsMonth.unique()))
        months.extend(sig_data.get_group((troop,i)).ObsMonth.unique())
        
    df = pd.DataFrame({'Year':years,'Month':months,'Keep':[0]*len(months)})
    
    df['mon_elap'] = df.Month + 12*(df.Year-list(df.Year)[0])

    for x in range(len(months)-1):
        ##Next unique month consecutive number?
        if df.loc[x+1,'mon_elap'] == df.loc[x,'mon_elap']+1:
            count += 1
            ##End of df and count >= 5? Mark as keep
            if (x == len(months)-2) & (count >= 5):
                df.loc[x-count+1:x+1,'Keep'] = 3
                #print('loc 5')
            #print('loc 1')
    
        ##No longer consecutive and under 6 months? Start over.
        elif (df.loc[x+1,'mon_elap'] != df.loc[x,'mon_elap']+1) & (count < 5):
            count = 0 
            #print('loc 2')

        ##6 months or over and no longer consecutive? Mark as keep
        elif (df.loc[x+1,'mon_elap'] != df.loc[x,'mon_elap']+1) & (count >= 5):
            df.loc[x-count:x,'Keep'] = 1
            count = 0
            #print('loc 3')
            
        ##All Keep entries are 0 at very end?    
        if (np.sum(df.Keep) == 0) & (count >= 5) & (x == len(months)-2):
            df.loc[x-count:x+1,'Keep'] = 2
            #print('loc 4')
            

            
    #print('count is {}'.format(count))

    return df

In [13]:
test = consec6('MOW')
test = test.loc[test.Keep != 0]
test

    Keep  Month  Year  mon_elap
22     1     12  2015       192
23     1      1  2016       193
24     1      2  2016       194
25     1      3  2016       195
26     1      4  2016       196
27     1      5  2016       197
28     1      6  2016       198
29     1      7  2016       199
30     1      8  2016       200
31     1      9  2016       201
32     1     10  2016       202
33     3     12  2016       204
34     3      1  2017       205
35     3      2  2017       206
36     3      3  2017       207
37     3      4  2017       208
38     3      5  2017       209
39     3      6  2017       210
40     3      7  2017       211
41     3      8  2017       212
42     3      9  2017       213
43     3     10  2017       214
44     3     11  2017       215
45     3     12  2017       216
46     3      1  2018       217
47     3      2  2018       218
48     3      3  2018       219

In [14]:
test_df = census
test_df.loc[(test_df.ObsMonth.isin(test.Month))&(test_df.ObsYear.isin(test.Year))&(test_df.Troop == 'MOW')]

,Date,Troop,Latitude,Longitude,Count,Complete Count?,ObsYear,ObsMonth
985,2015-06-02,MOW,NaN,NaN,32,NaN,2015,6
986,2015-06-05,MOW,NaN,NaN,32,NaN,2015,6
987,2015-06-08,MOW,-17.78406,25.15932,31,NaN,2015,6
988,2015-06-11,MOW,NaN,NaN,30,NaN,2015,6
989,2015-06-15,MOW,NaN,NaN,31,NaN,2015,6
990,2015-06-23,MOW,NaN,NaN,31,NaN,2015,6
991,2015-07-04,MOW,NaN,NaN,30,NaN,2015,7
992,2015-07-08,MOW,NaN,NaN,9,NaN,2015,7
993,2015-07-10,MOW,NaN,NaN,24,NaN,2015,7
994,2015-07-27,MOW,NaN,NaN,31,NaN,2015,7
995,2015-07-28,MOW,NaN,NaN,15,NaN,2015,7
996,2015-07-28,MOW,NaN,NaN,30,NaN,2015,7
997,2015-07-31,MOW,NaN,NaN,20,NaN,2015,7
998,2015-08-12,MOW,NaN,NaN,33,NaN,2015,8
999,2015-08-17,MOW,-17.7827,25.16043,31,NaN,2015,8
1000,2015-08-18,MOW,-17.78452,25.15795,29,NaN,2015,8
1001,2015-08-27,MOW,-17.7895879,25.157479,20,NaN,2015,8
1002,2015-09-29,MOW,-17.7814533,25.1617894,42,NaN,2015,9
1003,2015-10-22,MOW,-17.78252,25.16488,7,NaN,2015,10
1004,2015-10-29,MOW,-17.7844978,25.1579082,26,NaN,2015,10
1005,2015-10-30,MOW,-17.78538,25.15813,17,NaN,2015,10
1006,2015-12-31,MOW,-,-,16,NaN,2015,12
1007,2016-01-03,MOW,17.78275,25.16033,7,NaN,2016,1
1008,2016-01-04,MOW,17.78184,25.1613,12,NaN,2016,1
1009,2016-01-07,MOW,17.78184,25.1613,13,NaN,2016,1
1010,2016-02-02,MOW,17.84221,25.08053,26,NaN,2016,2
1011,2016-02-05,MOW,17.78285,25.16492,10,No,2016,2
1012,2016-02-08,MOW,17.78301,25.16501,3,No,2016,2
1013,2016-02-10,MOW,-,-,4,NaN,2016,2
1014,2016-02-29,MOW,17.78255,25.15992,20,No,2016,2
...,...,...,...,...,...,...,...,...
1072,2017-08-25,MOW,-17.78279,25.15911,16,Yes,2017,8
1073,2017-09-06,MOW,-17.78092,25.16029,20,No,2017,9
1074,2017-09-12,MOW,-17.781,25.16018,10,No,2017,9
1075,2017-09-13,MOW,-17.78422,25.15801,9,No,2017,9
1076,2017-09-14,MOW,-17.78547,25.15843,23,No,2017,9
1077,2017-09-22,MOW,-17.7824,25.16269,20,No,2017,9
1078,2017-09-29,MOW,-17.78227,25.16034,26,No,2017,9
1079,2017-10-09,MOW,-17.78235,25.16238,25,No,2017,10
1080,2017-11-01,MOW,-17.78293,25.1592,20,No,2017,11
1081,2017-11-15,MOW,-17.78471,25.15908,8,No,2017,11
1082,2017-11-20,MOW,-17.783328,25.165145,14,No,2017,11
1083,2017-11-23,MOW,-17.78376,25.16979,9,No,2017,11
1084,2017-11-24,MOW,-17.783075,25.169324,16,No,2017,11
1085,2017-11-28,MOW,-17.78336,25.16548,16,Yes,2017,11
1086,2017-12-04,MOW,-17.7869,25.16546,14,Yes,2017,12
1087,2017-12-07,MOW,-17.78333,25.16659,16,No,2017,12
1088,2017-12-07,MOW,-17.7853,25.16542,16,No,2017,12
1089,2017-12-11,MOW,-17.78675,25.15835,12,No,2017,12
1090,2018-01-02,MOW,-17.78493,25.15943,13,No,2018,1
1091,2018-01-03,MOW,-17.78642,25.16716,22,No,2018,1
1092,2018-01-04,MOW,-17.787836,25.166761,19,No,2018,1
1093,2018-01-05,MOW,-17.788066,25.162993,26,Yes,2018,1
1094,2018-01-15,MOW,-17.78242,25.15947,32,No,2018,1
1095,2018-01-30,MOW,.17.78307,25.15971,17,No,2018,1
1096,2018-02-05,MOW,-17.787317,25.159968,3,No,2018,2
1097,2018-02-12,MOW,-17.78762,25.16059,2,No,2018,2
1098,2018-02-21,MOW,-17.78451,25.15803,19,No,2018,2
1099,2018-03-09,MOW,-17.78228,25.16744,1,No,2018,3
1100,2018-03-19,MOW,-17.78849,25.15985,30,No,2018,3
1101,2018-03-29,MOW,-17.787493,25.166161,8,No,2018,3

In [15]:
test['test'] = list(zip(list(test.Month),list(test.Year)))
test_df['Tuple'] = list(zip(list(test_df.ObsMonth),list(test_df.ObsYear)))

wd = test_df.loc[(test_df.Troop == 'MOW')]
wd = wd[wd['Tuple'].isin(test.test)]
wd

,Date,Troop,Latitude,Longitude,Count,Complete Count?,ObsYear,ObsMonth,Tuple
1006,2015-12-31,MOW,-,-,16,NaN,2015,12,"(12, 2015)"
1007,2016-01-03,MOW,17.78275,25.16033,7,NaN,2016,1,"(1, 2016)"
1008,2016-01-04,MOW,17.78184,25.1613,12,NaN,2016,1,"(1, 2016)"
1009,2016-01-07,MOW,17.78184,25.1613,13,NaN,2016,1,"(1, 2016)"
1010,2016-02-02,MOW,17.84221,25.08053,26,NaN,2016,2,"(2, 2016)"
1011,2016-02-05,MOW,17.78285,25.16492,10,No,2016,2,"(2, 2016)"
1012,2016-02-08,MOW,17.78301,25.16501,3,No,2016,2,"(2, 2016)"
1013,2016-02-10,MOW,-,-,4,NaN,2016,2,"(2, 2016)"
1014,2016-02-29,MOW,17.78255,25.15992,20,No,2016,2,"(2, 2016)"
1015,2016-03-02,MOW,17.78332,25.15969,17,NaN,2016,3,"(3, 2016)"
1016,2016-03-09,MOW,17.78465,25.15819,17,No,2016,3,"(3, 2016)"
1017,2016-03-10,MOW,NaN,NaN,25,NaN,2016,3,"(3, 2016)"
1018,2016-03-14,MOW,17.8091,25.14594,20,No,2016,3,"(3, 2016)"
1019,2016-03-17,MOW,17.78416,25.15828,4,No,2016,3,"(3, 2016)"
1020,2016-03-18,MOW,17.78148,25.16163,12,No,2016,3,"(3, 2016)"
1021,2016-04-04,MOW,17.78273,25.16032,16,No,2016,4,"(4, 2016)"
1022,2016-04-06,MOW,-,-,30,No,2016,4,"(4, 2016)"
1023,2016-04-15,MOW,-,-,30,No,2016,4,"(4, 2016)"
1024,2016-04-26,MOW,17.78647,25.15805,23,NaN,2016,4,"(4, 2016)"
1025,2016-05-03,MOW,17.79283,25.18429,30,No,2016,5,"(5, 2016)"
1026,2016-05-19,MOW,17.79134,25.2845,25,NaN,2016,5,"(5, 2016)"
1027,2016-05-20,MOW,17.80661,25.1468,25,NaN,2016,5,"(5, 2016)"
1028,2016-05-30,MOW,17.78177,25.15899,15,No,2016,5,"(5, 2016)"
1029,2016-06-03,MOW,17.7827,25.15833,20,No,2016,6,"(6, 2016)"
1030,2016-06-07,MOW,17.78479,25.15897,4,No,2016,6,"(6, 2016)"
1031,2016-06-21,MOW,17.78222,25.15941,25,No,2016,6,"(6, 2016)"
1032,2016-06-29,MOW,-,-,2,No,2016,6,"(6, 2016)"
1033,2016-07-06,MOW,-,-,2,No,2016,7,"(7, 2016)"
1034,2016-07-11,MOW,-,-,20,No,2016,7,"(7, 2016)"
1035,2016-07-27,MOW,-,-,30,No,2016,7,"(7, 2016)"
...,...,...,...,...,...,...,...,...,...
1072,2017-08-25,MOW,-17.78279,25.15911,16,Yes,2017,8,"(8, 2017)"
1073,2017-09-06,MOW,-17.78092,25.16029,20,No,2017,9,"(9, 2017)"
1074,2017-09-12,MOW,-17.781,25.16018,10,No,2017,9,"(9, 2017)"
1075,2017-09-13,MOW,-17.78422,25.15801,9,No,2017,9,"(9, 2017)"
1076,2017-09-14,MOW,-17.78547,25.15843,23,No,2017,9,"(9, 2017)"
1077,2017-09-22,MOW,-17.7824,25.16269,20,No,2017,9,"(9, 2017)"
1078,2017-09-29,MOW,-17.78227,25.16034,26,No,2017,9,"(9, 2017)"
1079,2017-10-09,MOW,-17.78235,25.16238,25,No,2017,10,"(10, 2017)"
1080,2017-11-01,MOW,-17.78293,25.1592,20,No,2017,11,"(11, 2017)"
1081,2017-11-15,MOW,-17.78471,25.15908,8,No,2017,11,"(11, 2017)"
1082,2017-11-20,MOW,-17.783328,25.165145,14,No,2017,11,"(11, 2017)"
1083,2017-11-23,MOW,-17.78376,25.16979,9,No,2017,11,"(11, 2017)"
1084,2017-11-24,MOW,-17.783075,25.169324,16,No,2017,11,"(11, 2017)"
1085,2017-11-28,MOW,-17.78336,25.16548,16,Yes,2017,11,"(11, 2017)"
1086,2017-12-04,MOW,-17.7869,25.16546,14,Yes,2017,12,"(12, 2017)"
1087,2017-12-07,MOW,-17.78333,25.16659,16,No,2017,12,"(12, 2017)"
1088,2017-12-07,MOW,-17.7853,25.16542,16,No,2017,12,"(12, 2017)"
1089,2017-12-11,MOW,-17.78675,25.15835,12,No,2017,12,"(12, 2017)"
1090,2018-01-02,MOW,-17.78493,25.15943,13,No,2018,1,"(1, 2018)"
1091,2018-01-03,MOW,-17.78642,25.16716,22,No,2018,1,"(1, 2018)"
1092,2018-01-04,MOW,-17.787836,25.166761,19,No,2018,1,"(1, 2018)"
1093,2018-01-05,MOW,-17.788066,25.162993,26,Yes,2018,1,"(1, 2018)"
1094,2018-01-15,MOW,-17.78242,25.15947,32,No,2018,1,"(1, 2018)"
1095,2018-01-30,MOW,.17.78307,25.15971,17,No,2018,1,"(1, 2018)"
1096,2018-02-05,MOW,-17.787317,25.159968,3,No,2018,2,"(2, 2018)"
1097,2018-02-12,MOW,-17.78762,25.16059,2,No,2018,2,"(2, 2018)"
1098,2018-02-21,MOW,-17.78451,25.15803,19,No,2018,2,"(2, 2018)"
1099,2018-03-09,MOW,-17.78228,25.16744,1,No,2018,3,"(3, 2018)"
1100,2018-03-19,MOW,-17.78849,25.15985,30,No,2018,3,"(3, 2018)"
1101,2018-03-29,MOW,-17.787493,25.166161,8,No,2018,3,"(3, 2018)"

In [16]:
def data_clean(df,op_trp=0):
    
    df.loc[:,'cleaner'] = 0
    df['Tuple'] = list(zip(list(df.ObsMonth),list(df.ObsYear)))
    
    troops = df.Troop.unique()
    if op_trp == 0:
        for troop in troops:

            clean = consec6(troop)
            clean = clean.loc[clean.Keep != 0]
            clean['test'] = list(zip(list(clean.Month),list(clean.Year)))

            wd = df.loc[df.Troop == troop]
            try:
                wd = wd[wd['Tuple'].isin(clean.test)]
                wd.loc[:,'cleaner'] = 1

                df.update(wd)
            except:
                pass
    else:
        troop = op_trp
        clean = consec6(troop)
        clean = clean.loc[clean.Keep != 0]
        clean['test'] = list(zip(list(clean.Month),list(clean.Year)))

        wd = df.loc[df.Troop == troop]
        try:
            wd = wd[wd['Tuple'].isin(clean.test)]
            wd.loc[:,'cleaner'] = 1
        
            df.update(wd)
        except:
            pass
    df = df.loc[df.cleaner == 1]
    
    return df

data_clean(census,'MOW')

,Date,Troop,Latitude,Longitude,Count,Complete Count?,ObsYear,ObsMonth,Tuple,cleaner
1006,2015-12-31,MOW,-,-,16.0,NaN,2015.0,12.0,"(12, 2015)",1.0
1007,2016-01-03,MOW,17.78275,25.16033,7.0,NaN,2016.0,1.0,"(1, 2016)",1.0
1008,2016-01-04,MOW,17.78184,25.1613,12.0,NaN,2016.0,1.0,"(1, 2016)",1.0
1009,2016-01-07,MOW,17.78184,25.1613,13.0,NaN,2016.0,1.0,"(1, 2016)",1.0
1010,2016-02-02,MOW,17.84221,25.08053,26.0,NaN,2016.0,2.0,"(2, 2016)",1.0
1011,2016-02-05,MOW,17.78285,25.16492,10.0,No,2016.0,2.0,"(2, 2016)",1.0
1012,2016-02-08,MOW,17.78301,25.16501,3.0,No,2016.0,2.0,"(2, 2016)",1.0
1013,2016-02-10,MOW,-,-,4.0,NaN,2016.0,2.0,"(2, 2016)",1.0
1014,2016-02-29,MOW,17.78255,25.15992,20.0,No,2016.0,2.0,"(2, 2016)",1.0
1015,2016-03-02,MOW,17.78332,25.15969,17.0,NaN,2016.0,3.0,"(3, 2016)",1.0
1016,2016-03-09,MOW,17.78465,25.15819,17.0,No,2016.0,3.0,"(3, 2016)",1.0
1017,2016-03-10,MOW,NaN,NaN,25.0,NaN,2016.0,3.0,"(3, 2016)",1.0
1018,2016-03-14,MOW,17.8091,25.14594,20.0,No,2016.0,3.0,"(3, 2016)",1.0
1019,2016-03-17,MOW,17.78416,25.15828,4.0,No,2016.0,3.0,"(3, 2016)",1.0
1020,2016-03-18,MOW,17.78148,25.16163,12.0,No,2016.0,3.0,"(3, 2016)",1.0
1021,2016-04-04,MOW,17.78273,25.16032,16.0,No,2016.0,4.0,"(4, 2016)",1.0
1022,2016-04-06,MOW,-,-,30.0,No,2016.0,4.0,"(4, 2016)",1.0
1023,2016-04-15,MOW,-,-,30.0,No,2016.0,4.0,"(4, 2016)",1.0
1024,2016-04-26,MOW,17.78647,25.15805,23.0,NaN,2016.0,4.0,"(4, 2016)",1.0
1025,2016-05-03,MOW,17.79283,25.18429,30.0,No,2016.0,5.0,"(5, 2016)",1.0
1026,2016-05-19,MOW,17.79134,25.2845,25.0,NaN,2016.0,5.0,"(5, 2016)",1.0
1027,2016-05-20,MOW,17.80661,25.1468,25.0,NaN,2016.0,5.0,"(5, 2016)",1.0
1028,2016-05-30,MOW,17.78177,25.15899,15.0,No,2016.0,5.0,"(5, 2016)",1.0
1029,2016-06-03,MOW,17.7827,25.15833,20.0,No,2016.0,6.0,"(6, 2016)",1.0
1030,2016-06-07,MOW,17.78479,25.15897,4.0,No,2016.0,6.0,"(6, 2016)",1.0
1031,2016-06-21,MOW,17.78222,25.15941,25.0,No,2016.0,6.0,"(6, 2016)",1.0
1032,2016-06-29,MOW,-,-,2.0,No,2016.0,6.0,"(6, 2016)",1.0
1033,2016-07-06,MOW,-,-,2.0,No,2016.0,7.0,"(7, 2016)",1.0
1034,2016-07-11,MOW,-,-,20.0,No,2016.0,7.0,"(7, 2016)",1.0
1035,2016-07-27,MOW,-,-,30.0,No,2016.0,7.0,"(7, 2016)",1.0
...,...,...,...,...,...,...,...,...,...,...
1072,2017-08-25,MOW,-17.78279,25.15911,16.0,Yes,2017.0,8.0,"(8, 2017)",1.0
1073,2017-09-06,MOW,-17.78092,25.16029,20.0,No,2017.0,9.0,"(9, 2017)",1.0
1074,2017-09-12,MOW,-17.781,25.16018,10.0,No,2017.0,9.0,"(9, 2017)",1.0
1075,2017-09-13,MOW,-17.78422,25.15801,9.0,No,2017.0,9.0,"(9, 2017)",1.0
1076,2017-09-14,MOW,-17.78547,25.15843,23.0,No,2017.0,9.0,"(9, 2017)",1.0
1077,2017-09-22,MOW,-17.7824,25.16269,20.0,No,2017.0,9.0,"(9, 2017)",1.0
1078,2017-09-29,MOW,-17.78227,25.16034,26.0,No,2017.0,9.0,"(9, 2017)",1.0
1079,2017-10-09,MOW,-17.78235,25.16238,25.0,No,2017.0,10.0,"(10, 2017)",1.0
1080,2017-11-01,MOW,-17.78293,25.1592,20.0,No,2017.0,11.0,"(11, 2017)",1.0
1081,2017-11-15,MOW,-17.78471,25.15908,8.0,No,2017.0,11.0,"(11, 2017)",1.0
1082,2017-11-20,MOW,-17.783328,25.165145,14.0,No,2017.0,11.0,"(11, 2017)",1.0
1083,2017-11-23,MOW,-17.78376,25.16979,9.0,No,2017.0,11.0,"(11, 2017)",1.0
1084,2017-11-24,MOW,-17.783075,25.169324,16.0,No,2017.0,11.0,"(11, 2017)",1.0
1085,2017-11-28,MOW,-17.78336,25.16548,16.0,Yes,2017.0,11.0,"(11, 2017)",1.0
1086,2017-12-04,MOW,-17.7869,25.16546,14.0,Yes,2017.0,12.0,"(12, 2017)",1.0
1087,2017-12-07,MOW,-17.78333,25.16659,16.0,No,2017.0,12.0,"(12, 2017)",1.0
1088,2017-12-07,MOW,-17.7853,25.16542,16.0,No,2017.0,12.0,"(12, 2017)",1.0
1089,2017-12-11,MOW,-17.78675,25.15835,12.0,No,2017.0,12.0,"(12, 2017)",1.0
1090,2018-01-02,MOW,-17.78493,25.15943,13.0,No,2018.0,1.0,"(1, 2018)",1.0
1091,2018-01-03,MOW,-17.78642,25.16716,22.0,No,2018.0,1.0,"(1, 2018)",1.0
1092,2018-01-04,MOW,-17.787836,25.166761,19.0,No,2018.0,1.0,"(1, 2018)",1.0
1093,2018-01-05,MOW,-17.788066,25.162993,26.0,Yes,2018.0,1.0,"(1, 2018)",1.0
1094,2018-01-15,MOW,-17.78242,25.15947,32.0,No,2018.0,1.0,"(1, 2018)",1.0
1095,2018-01-30,MOW,.17.78307,25.15971,17.0,No,2018.0,1.0,"(1, 2018)",1.0
1096,2018-02-05,MOW,-17.787317,25.159968,3.0,No,2018.0,2.0,"(2, 2018)",1.0
1097,2018-02-12,MOW,-17.78762,25.16059,2.0,No,2018.0,2.0,"(2, 2018)",1.0
1098,2018-02-21,MOW,-17.78451,25.15803,19.0,No,2018.0,2.0,"(2, 2018)",1.0
1099,2018-03-09,MOW,-17.78228,25.16744,1.0,No,2018.0,3.0,"(3, 2018)",1.0
1100,2018-03-19,MOW,-17.78849,25.15985,30.0,No,2018.0,3.0,"(3, 2018)",1.0
1101,2018-03-29,MOW,-17.787493,25.166161,8.0,No,2018.0,3.0,"(3, 2018)",1.0

In [17]:
good_data = data_clean(census)
good_data.head()

,Date,Troop,Latitude,Longitude,Count,Complete Count?,ObsYear,ObsMonth,Tuple,cleaner
22,2013-09-05,CCH,NaN,NaN,19.0,NaN,2013.0,9.0,"(9.0, 2013.0)",1.0
23,2013-09-12,CCH,-17.82746,25.13761,18.0,NaN,2013.0,9.0,"(9.0, 2013.0)",1.0
24,2013-09-25,CCH,-17.8274,25.13817,15.0,NaN,2013.0,9.0,"(9.0, 2013.0)",1.0
25,2013-10-01,CCH,-17.79475,25.15429,21.0,NaN,2013.0,10.0,"(10.0, 2013.0)",1.0
26,2013-10-02,CCH,-17.82833,25.13828,18.0,NaN,2013.0,10.0,"(10.0, 2013.0)",1.0

In [18]:
good_data.Troop.unique()

array(['CCH', 'CGL', 'CSL', 'FARM', 'FOR', 'KUBU', 'KWA', 'LIB', 'MOGO',
       'MOW', 'ODH', 'PLAT', 'SDRF', 'SEF', 'WA', 'WDL'], dtype=object)

In [19]:
good_data.to_csv('../Mongoose Modeling/clean_census_data.csv')